//index
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;800&family=Nanum+Pen+Script&display=swap');
ul {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: Manrope, sans-serif;
  font-style: normal;
}
//text styles
.h1 {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
}
.h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}
.h3 {
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
}
.h4 {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
}
.h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.subtitle1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.subtitle2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.lead1 {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}
.lead2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.body1 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
.body2 {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.capitalised {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
}
.badge-label {
  font-family: 'Nanum Pen', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.small-label {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}
.medium-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px; 
  color: #18191F;
}
.medium-label:hover {
  text-decoration: none;
  color: #18191F;
}
.large-label {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
//BG
.background {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
}
.background__img {
  position: absolute;

}
.background__img__purp-circle {
  top: 0;
  right: -150px;
  filter: blur(100px);
  opacity: 0.7;
}
.background__img__tur-circle {
  top: 460px;
  right: 275px;
  filter: blur(100px);
  opacity: 0.7;

}
.background__img__left-lines {
  left: 0;  
  z-index: 10;
}
.background__img__bg-filt {
  position: absolute;
  top: 0;
  left: 0;
  background: #F2F7FF;
  //background: #000;
  width: 100%;
  height: calc(100vh - 15%);
  clip-path: polygon(0 0, 100% 0,   calc(100vw-100px), 0% 100%);
  z-index: -2;
  overflow-x: hidden;
  overflow-y: hidden;
}
.background__img__bg-filt::before {
  position: absolute;
  content: " ";
  transform: rotate(-7deg);
  background-color: #FFFFFF;
  width: 3000px;
  height: 100%;
  z-index: 1;
  top: 70%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.background__img__left-lines {
  top: 630px;
  left: -300px;
}
.background__img__right-lines {
  top: 480px;
  right: -350px;
}
//header
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
}
.header__img-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__nav {
  align-content: center;
}
.header__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;

}
.header__list-item {
  margin-left: 32px;
}
.header__download_link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 12px;
}
//home-page
.home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-top: 95px;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
} 
.home-page__text {
  margin-top: 70px;
  .large-label {
    color: #FFFFFF;
    background: #8C30F5;
    border-radius: 8px;
    margin-top: 32px;
    padding: 16px 32px;
    display: inline-block;
    text-decoration: none;
  }
}
//Companese
.companese {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.companese__item {
  margin-right: 60px;
}
//Tailor made features
.tailor-made-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}
.tailor-made-features__text {
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tailor-made-features__row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 50px;
}
.tailor-made-features__row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 65px;
}
.tailor-made-features__item {
  width: 32%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    margin-bottom: 25px;
  }
  h5 {
    margin-bottom: 8px;
  }
}
//real-stories
//.real-stories__background {
//  position: absolute;
//  left: 0;
//  height: 896px;
//}
.real-stories__background {
  position: absolute;
  background-color: #D5FAFC;
  width: 100vw;
  height: 926px;
  z-index: -2;
  left: 0;
  
}
.real-stories__img {
  position: absolute;
  opacity: 0.3;
  z-index: -1;
  top: 65px;
}
.real-stories {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 926px;
}
.real-stories__text {
  h2 {
    margin-top: 120px;
  }
}
.real-stories__item {
  position: relative;
  background-color: #fff;
  padding: 32px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  .real-stories__item__img1 {
    height: 40px;
    width: 140px;
    margin-bottom: 32px;
  }
  .real-stories__item__img2 {
    height: 40px;
    width: 130px;
    margin-bottom: 32px;
  }
  .real-stories__item__img3 {
    height: 40px;
    width: 134px;
    margin-bottom: 32px;
  }
}
.real-stories__item-text {
  position: relative;
}
.real-stories__item-text__text {
  margin-left: 32px;
  .lead1 {
    margin-bottom: 24px;
  }
  .subtitle1 {
    margin-bottom: 0;
  }
  .lead2 {
    color: #969BAB;
  }
}
.real-stories__item1 {
  margin-top: 170px;
  margin-bottom: 32px;
}
.real-stories__item2 {
  margin-top: -252px;
}
.real-stories__img__litle {
  position: absolute;
  height: 14px;
  width: 16px;
  left: 0%;
  right: 0.44%;
  top: 0%;
  bottom: 0%;
  opacity: 0.3;
}
//our-progres
.our-progres {
  padding: 80px 0 ;
  display: flex;
  flex-direction: row;
}
.our-progres__text {
  flex: 2;
}
.our-progres__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-progres__row {
  display: flex;
  flex-direction: row;
  img {
    margin-right: 16px;
  }
}

.our-progres__row__text {
  h4 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}
//Headline
.headline {
  padding: 64px 0;
}
.headline__text {
  padding: 0 48px;
  p {
    margin: 32px 0;
  }
}
.headline__link {
  a {
    color: #8C30F5;
    margin-right: 8px;
  }
  a:hover {
    text-decoration: none;
  }
}
//fasion-trands
.fashion-trands {
  padding: 64px 0;
  img {
    margin-top: 48px;
  }
}
//manage-pj-mob
.manage-pj-mob {
  position: relative;
}
.manage-pj-mob::before {
  position: absolute;
  left: -100%;
  content: ' ';
  width: 1000vw;
  height: 100%;
  background-color: #2EC5CE;
}
.manage-pj-mob__text {
  margin: 68px 0;
}
.manage-pj-mob__link {
  margin-top: 48px;
}
.manage-pj-mob__link_download {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
.manage-pj-mob__img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  :first-child {
    position: relative;
    img {
      position: absolute;
      top: 0;
      bottom: auto;
    }
  }
  :last-child {
    img {
      position: absolute;
      bottom: 0;
      top: auto;
    }
  }
}
//footer
.footer {
  padding: 56px 0;
  position: relative;
  color: #FFFFFF;
}
.footer::before {
  content: '';
  width: 1000vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #0B0D17;
}
.footer__text1 {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  a {
    color: #FFFFFF;
    margin-right: 24px;
  }
  a:hover {
    color: #FFFFFF;
    text-decoration: none;
  }

}
.footer__text2 {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 24px;
  a {
    color: #FFFFFF;
    margin-right: 24px;
  }
  a:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
}
.footer__copyright__text {
  color: #D9DBE1;
}
.footer__link {
  :last-child img {
    margin-top: 16px;
  }
}
.download_link {
  display: block;
}
//demo
.demo {
  overflow: hidden;
}
.demo-logo {
  width: 105px;
}
.demo-home-page {
  height: 50vh;
  margin-top: 25%;
}
.demo-home-page__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .large-label {
    color: #FFFFFF;
    background: #8C30F5;
    border-radius: 8px;
    margin-top: 32px;
    padding: 16px 32px;
    display: inline-block;
    text-decoration: none;
    svg {
      margin-right: 10px ;
    }
  }
}